<!doctype html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ADPscStyl.css') }}" />
</head>

<body>
  <div id="head">
     <img style="width: 90px; " alt="" src="/static/ADPlogo_rgb.png">
  </div>
  <div id="menu">
     <li id="HOME"><a href="/">HOME</a></li>
  </div>
  <div id="MainPage">&nbsp;

    <p>
    <h1> your number is {{number}} </h1>
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</body>

